version: "3.9"

services:
  # ===============================
  # Reverse Proxy (Nginx + SSL)
  # ===============================
  nginx:
    image: nginx:latest
    container_name: nginx
    depends_on:
      - authService
      - accountService
      - productService
      - cartService
      - wishlistService
      - profile
      - bulkorderservice
      - address
      - mailService
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - /etc/letsencrypt:/etc/letsencrypt
    ports:
      - "80:80"
      - "443:443"
    networks:
      - recnaile-net

  # ===============================
  #      Microservices
  # ===============================

  authService:
    build: ./authService
    container_name: authService
    expose:
      - "8081"
    networks:
      - recnaile-net

  accountService:
    build: ./accountService
    container_name: accountService
    expose:
      - "8082"
    networks:
      - recnaile-net

  productService:
    build: ./productService
    container_name: productService
    expose:
      - "8083"
    networks:
      - recnaile-net

  cartService:
    build: ./cartService
    container_name: cartService
    expose:
      - "8084"
    networks:
      - recnaile-net

  wishlistService:
    build: ./wishlistService
    container_name: wishlistService
    expose:
      - "8085"
    networks:
      - recnaile-net

  profile:
    build: ./profile
    container_name: profile
    expose:
      - "8086"
    networks:
      - recnaile-net

  bulkorderservice:
    build: ./bulkorderservice
    container_name: bulkorderservice
    expose:
      - "8087"
    networks:
      - recnaile-net

  address:
    build: ./address
    container_name: address
    expose:
      - "8088"
    networks:
      - recnaile-net

  mailService:
    build: ./mailService
    container_name: mailService
    expose:
      - "8089"
    networks:
      - recnaile-net

networks:
  recnaile-net:
    driver: bridge
