version: "3.9"

services:
  nginx:
    image: nginx:latest
    container_name: nginx
    depends_on:
      - authservice
      - accountservice
      - productservice
      - cartservice
      - wishlistservice
      - profile
      - bulkorderservice
      - address
      - mailservice
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - /etc/letsencrypt:/etc/letsencrypt
    ports:
      - "80:80"
      - "443:443"
    networks:
      - recnaile-net

  authservice:
    build:
      context: ./authService
      args:
        SERVICE_PORT: 8081
    image: ecom-authservice
    container_name: authservice
    expose:
      - "8081"
    networks:
      - recnaile-net

  accountservice:
    build:
      context: ./accountService
      args:
        SERVICE_PORT: 8082
    image: ecom-accountservice
    container_name: accountservice
    expose:
      - "8082"
    networks:
      - recnaile-net

  productservice:
    build:
      context: ./productService
      args:
        SERVICE_PORT: 8083
    image: ecom-productservice
    container_name: productservice
    expose:
      - "8083"
    networks:
      - recnaile-net

  cartservice:
    build:
      context: ./cartService
      args:
        SERVICE_PORT: 8084
    image: ecom-cartservice
    container_name: cartservice
    expose:
      - "8084"
    networks:
      - recnaile-net

  wishlistservice:
    build:
      context: ./wishlistService
      args:
        SERVICE_PORT: 8085
    image: ecom-wishlistservice
    container_name: wishlistservice
    expose:
      - "8085"
    networks:
      - recnaile-net

  profile:
    build:
      context: ./profile
      args:
        SERVICE_PORT: 8086
    image: ecom-profile
    container_name: profile
    expose:
      - "8086"
    networks:
      - recnaile-net

  bulkorderservice:
    build:
      context: ./bulkorderservice
      args:
        SERVICE_PORT: 8087
    image: ecom-bulkorderservice
    container_name: bulkorderservice
    expose:
      - "8087"
    networks:
      - recnaile-net

  address:
    build:
      context: ./address
      args:
        SERVICE_PORT: 8088
    image: ecom-address
    container_name: address
    expose:
      - "8088"
    networks:
      - recnaile-net

  mailservice:
    build:
      context: ./mailService
      args:
        SERVICE_PORT: 8089
    image: ecom-mailservice
    container_name: mailservice
    expose:
      - "8089"
    networks:
      - recnaile-net

networks:
  recnaile-net:
    driver: bridge
