version: "3.9"

services:
  apache:
    build: ./apache
    container_name: apache
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./apache/conf:/usr/local/apache2/conf/extra
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - authservice
      - accountservice
      - productservice
      - cartservice
      - wishlistservice
      - profile
      - bulkorderservice
      - address
      - mailservice
    networks:
      - recnaile-net

  authservice:
    build: ./authService
    container_name: authservice
    expose:
      - "8081"
    networks:
      - recnaile-net

  accountservice:
    build: ./accountService
    container_name: accountservice
    expose:
      - "8082"
    networks:
      - recnaile-net

  productservice:
    build: ./productService
    container_name: productservice
    expose:
      - "8083"
    networks:
      - recnaile-net

  cartservice:
    build: ./cartService
    container_name: cartservice
    expose:
      - "8084"
    networks:
      - recnaile-net

  wishlistservice:
    build: ./wishlistService
    container_name: wishlistservice
    expose:
      - "8085"
    networks:
      - recnaile-net

  profile:
    build: ./profile
    container_name: profile
    expose:
      - "8086"
    networks:
      - recnaile-net

   bulkorderservice:
    build: ./bulkorderservice
    container_name: bulkorderservice
    expose:
      - "8087"
    networks:
      - recnaile-net

  address:
    build: ./address
    container_name: address
    expose:
      - "8088"
    networks:
      - recnaile-net

  mailservice:
    build: ./mailService
    container_name: mailservice
    expose:
      - "8089"
    networks:
      - recnaile-net

networks:
  recnaile-net:
    driver: bridge
